<h1>Course #<%= @course.id %></h1>

<dl>
  <dt>Department</dt>
  <dd><%= @course.department %></dd>

  <dt>Number</dt>
  <dd><%= @course.number %></dd>

  <dt>Title</dt>
  <dd><%= @course.title %></dd>

</dl>
