<div class="page-header">
  <h1>Attendance #<%= @attendance.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Meeting</dt>
  <dd><%= @attendance.meeting_id %></dd>

  <dt>Student</dt>
  <dd><%= @attendance.student_id %></dd>

</dl>
